@charset "UTF-8";

.css-171zbec {
	width: 820px;
}

.css-1jdq78j {
	display: flex;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(51, 51, 51);
	border-top-style: solid;
	border-top-width: 1px;
}

.css-wru9pk {
	text-align: center;
	line-height: 20px;
	font-weight: 500;
	color: rgb(51, 51, 51);
	flex-basis: 60px;
}

.css-3fr0n1 {
	text-align: center;
	line-height: 20px;
	font-weight: 500;
	color: rgb(51, 51, 51);
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
}

.css-gtglzf {
	text-align: center;
	line-height: 20px;
	font-weight: 500;
	color: rgb(51, 51, 51);
	flex-basis: 120px;
}

.css-1aqlhfo {
	text-align: center;
	line-height: 20px;
	font-weight: 500;
	color: rgb(51, 51, 51);
	flex-basis: 100px;
}

.css-1aqlhfo {
	text-align: center;
	line-height: 20px;
	font-weight: 500;
	color: rgb(51, 51, 51);
	flex-basis: 100px;
}

.css-wru9pk {
	text-align: center;
	line-height: 20px;
	font-weight: 500;
	color: rgb(51, 51, 51);
	flex-basis: 60px;
}

.css-1fttcpj {
	display: flex;
	flex-direction: column;
}

.css-d35zkp {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(244, 244, 244);
}

.css-d35zkp>* {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
}

.css-1bs5q0a {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	min-height: 49px;
	padding-top: 0px;
	margin-top: 20px;
	margin-right: 0px;
	color: rgb(51, 51, 51);
	letter-spacing: -0.3px;
	flex-basis: 60px;
}

.css-agvwxo {
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	clip: rect(0px, 0px, 0px, 0px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
}

.css-79hxr7 {
	margin-right: 12px;
}

.css-79hxr7 svg {
	vertical-align: middle;
}

.css-8xfsdg {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	min-height: 49px;
	padding-top: 0px;
	margin-top: 20px;
	margin-right: 0px;
	color: rgb(51, 51, 51);
	letter-spacing: -0.3px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	-webkit-box-pack: start;
	justify-content: start;
	font-size: 16px;
	text-align: left;
}

.css-1b3iimx {
	display: block;
	width: 74px;
	height: 22px;
	margin-bottom: 7px;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
	border-bottom-right-radius: 11px;
	border-bottom-left-radius: 11px;
	background-color: rgb(247, 247, 247);
	font-weight: 700;
	font-size: 12px;
	color: rgb(102, 102, 102);
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
}

.css-1o9d8vk {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	min-height: 49px;
	padding-top: 0px;
	margin-top: 20px;
	margin-right: 0px;
	color: rgb(51, 51, 51);
	letter-spacing: -0.3px;
	flex-basis: 120px;
}

.css-xkreku {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	min-height: 49px;
	padding-top: 0px;
	margin-top: 20px;
	margin-right: 0px;
	color: rgb(51, 51, 51);
	letter-spacing: -0.3px;
	flex-basis: 100px;
}


.css-xkreku {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	min-height: 49px;
	padding-top: 0px;
	margin-top: 20px;
	margin-right: 0px;
	color: rgb(51, 51, 51);
	letter-spacing: -0.3px;
	flex-basis: 100px;
}

.css-z4mca9 {
	color: rgb(95, 0, 128);
	font-size: 14px;
}

.css-1bs5q0a {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	min-height: 49px;
	padding-top: 0px;
	margin-top: 20px;
	margin-right: 0px;
	color: rgb(51, 51, 51);
	letter-spacing: -0.3px;
	flex-basis: 60px;
}