
.title {
	width:80%;
	margin-left:20px;
	align-items: left;
	font-size: 27px; /* 제목의 글꼴 크기 조정 */
	font-weight: 700; /* 제목의 글꼴 굵기 조정 */
	color: #333333; /* 제목의 글꼴 색상 조정 */
	margin-top: 500px; /* 제목의 상단 여백 조정 */
	padding-left: 20px; /* 제목의 왼쪽 여백 조정 */
	border-left: 2px solid #333333; /* 왼쪽 테두리 설정 */
	margin-bottom: 50px;
	
}
	
	
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

	
	
.main {
  display: flex;
  /* justify-content: center; */
  height: 2500px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top :-400px;
  margin-bottom : 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
	
form {
  width: 80%;
  max-width: 700px; 
}
    
    img {
    	margin-bottom: 20px;
    }
    
  	 .form-group1 {
      height : 300px;
      margin-bottom: 25px;
    } 
    
     .form-group {
      margin-bottom: 25px;
    }
    
     .form-group1 {
	  display: flex;
	  flex-direction: column;
	  margin-bottom: 25px;
	}
	
	.form-group1 label {
	  font-weight: bold;
	}
	
	.form-group1 input,
	.form-group1 select {
	  padding: 5px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  font-size: 14px;
	}
	
	.form-group1 select {
	  height: 30px;
	}
	
	
    
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .form-group2 {
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  margin-bottom: 25px;
	}
	
	.form-group2 label {
	  font-weight: bold;
	  margin-right: 15px;
	}
	
	.form-group2 select {
	  padding: 5px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  font-size: 14px;
	  height: 30px;
	  width: 150px; /* 원하는 너비로 조정해주세요 */
	  margin-right: 5px;
	}
    .updateBtn {
      padding: 10px 20px;
      background-color: #E5E5D1;
      color: #6F6F67;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      margin-top: 30px;
    }
    
    .updateBtn:hover {
      background-color: #DADAC8;
      color : black;
    }
    
     .deleteBtn {
      padding: 10px 20px;
      background-color: #E5E5D1;
      color: #6F6F67;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 200px;
    }
    
    .deleteBtn:hover {
      background-color: #DADAC8;
      color : black;
    }
    
   
    input[type="text"],
    textarea {
      width: 100%;
      padding: 8px;
      border-radius: 3px;
      border: 1px solid #ccc;
    }
    
    
   .alarm {
		font-size : 10px;
		color : red;
		margin-left : 20px;
	}