@charset "UTF-8";
.css-1i60c0e {
	width: 1050px;
	margin: 0 auto;
}

.css-j6zuv6 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	overflow: hidden;
	padding-bottom: 30px;
}

.css-4iyald {
	padding-bottom: 17px;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
}

.css-9jqcug {
	display: block;
	padding-bottom: 20px;
	font-size: 28px;
	line-height: 40px;
}

.css-1uz1ro8 {
	margin-left: 8px;
	font-weight: normal;
	font-size: 16px;
}

.css-1fttcpj {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.css-ho1qnd {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.css-1qwhv7o {
	margin-right: 16px;
	margin-bottom: 16px;
}

.css-hupzfj {
	display: block;
	width: 140px;
	height: 40px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	line-height: 39px;
	text-align: center;
	margin-right: 16px;
	margin-bottom: 16px;
}


.css-1lxmeik {
	margin-top: 2px;
	color: #999;
	letter-spacing: -0.5px;
	line-height: 16.8px;
}

.css-w0fx7a {
	margin: 0 6px;
}


.css-nyq565 {
	display: block;
	width: 140px;
	height: 40px;
	margin-bottom: 16px;
	margin-right: 16px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	line-height: 39px;
	text-align: center;
}

.css-vtjvf {
	font-size: 12px;
	line-height: 18px;
	color: #999;
}

.css-17hse91 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-bottom: 29px;
}

.css-slkv2p {
	margin-left: 14px;
}

.css-slkv2p.bold {
	font-weight: 500;
}

.css-slkv2p:first-of-type {
	margin-left: 0;
}
.css-1tfhwyj {
	font-size: 14px;
	line-height: 18px;
}
.css-bz7mfs {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #999;
	margin-bottom: 40px;
}

.css-1ekjygq {
	padding-left: 4px;
}

.css-1ekjygq:after {
	content: '|';
	padding-right: 4px;
	font-size: 10px;
	vertical-align: top;
}

.css-1tby8gd {
	margin-left: 3px;
	color: #5f0080;
}

.css-zjik7 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.css-9ipg3 {
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.css-81eeg3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 26px 0 33px;
	border-top: 1px solid #eee;
}
.css-12t5wjq {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-align: left;
}
.css-1262i6n {
	width: 34px;
	margin-right: 10px;
}
.css-bft4sh {
	font-size: 10px;
	line-height: 14.5px;
	color: #999;
	word-break: break-word;
}
.css-as7ifw {
	width: 102px;
	margin-right: 10px;
}
.css-175n8cp {
	padding: 20px 0 30px;
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	background-color: #f7f7f7;
	color: #999;
}
.css-1vhhy2d {
	display: block;
	padding-top: 7px;
	font-style: normal;
}









